<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>LinuxOnBrowser</title>
	<link href="../css/bootstrap.min.css?rev=1659865876" rel="stylesheet">
	<link href="../css/style.css?rev=1659865876" rel="stylesheet">
	<script src="engine/vue.min.js?rev=1659865876"></script>
	<script src="engine/dayjs.min.js?rev=1659865876"></script>
	<script src="engine/v86/libv86.js?rev=1659865876"></script>
	<script src="engine/index.js?rev=1659865876" async defer></script>
</head>

<body>
	<div id="console">
		<div
			class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
			<h5 class="my-0 mr-md-auto font-weight-normal">
				<a class="text-dark" href="https://randychen.tk/lob/">LinuxOnBrowser</a>
			</h5>
			<nav class="my-2 my-md-0 mr-md-3">
				<a class="p-2 text-dark" href="./">Console</a>
				<a class="p-2 text-dark" href="../">About</a>
			</nav>
			<a class="btn btn-outline-primary" href="https://github.com/supersonictw/lob">GitHub</a>
		</div>

		<!-- Start Banner -->
		<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
			<h1 class="lead">Deploy your Linux on Browser!</h1>
			<div class="mx-5 my-3" v-show="isShowProgressBar">
				<div class="progress">
					<div class="progress-bar" role="progressbar" :style="progressBarStyle"
						v-text="progressPercentageString">
					</div>
				</div>
				<div class="text-muted" v-text="progressState"></div>
			</div>
		</div>
		<!-- End Banner -->

		<!-- Start Screen -->
		<div class="container">
			<div id="screen-box" class="card mb-4 shadow-sm" @click="documentHandleClickBox">
				<div id="screen-container" ref="screenContainer" v-show="isEmulatorRunning">
					<div id="screen"></div>
					<canvas id="vga" class="mx-auto"></canvas>
					<div id="virtual-keyboard-caller-box">
						<textarea id="virtual-keyboard-caller"></textarea>
					</div>
				</div>
				<div v-show="!isEmulatorRunning">
					<div class="w-full text-center">
						<button class="btn btn-primary" @click="documentHandleClickButtonPower">
							<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
								class="bi bi-power" viewBox="0 0 16 16">
								<path d="M7.5 1v7h1V1h-1z" />
								<path
									d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z" />
							</svg>
						</button>
					</div>
				</div>
			</div>
			<!-- End Screen -->

			<!-- Start OperationBox -->
			<div :class="operationBoxClass">
				<div class="d-flex justify-content-between mb-3">
					<div class="power-box">
						<button class="btn btn-success" @click="documentHandleClickButtonPause">Pause</button>
						<button class="btn btn-warning" @click="documentHandleClickButtonReset">Reset</button>
						<button class="btn btn-danger" @click="documentHandleClickButtonPower">Power</button>
					</div>
					<div class="misc-box">
						<button class="btn btn-info" @click="documentHandleClickButtonFullScreen">Full Screen</button>
					</div>
					<div class="options-box dropdown dropup">
						<button class="btn btn-primary dropdown-toggle" @click="documentHandleClickButtonOptions">
							Options
						</button>
						<div :class="optionsMenuClass">
							<button class="dropdown-item" @click="documentHandleClickButtonOptionsRestore">
								Import State
							</button>
							<button class="dropdown-item" @click="documentHandleClickButtonOptionsSave">
								Export State
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- End OperationBox -->

			<!-- Start RestoreModal -->
			<div :class="restoreModalClass">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">Import State</h5>
							<button type="button" class="close">
								<span>&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div v-if="isShowRestoreModal">
								<input type="file" class="form-control" @change="documentHandleChangeRestoreFile" />
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								@click="documentHandleClickButtonRestoreCancel">
								Cancel
							</button>
							<button type="button" class="btn btn-primary"
								@click="documentHandleClickButtonRestoreImport">
								Import
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- End RestoreModal -->

			<!-- Start ModalBackdrop -->
			<div v-if="isShowModal" class="modal-backdrop fade show"></div>
			<!-- End ModalBackdrop -->
		</div>
	</div>

	<div class="container">
		<footer class="pt-4 my-md-5 pt-md-5 border-top">
			<div class="row">
				<div class="col-12 col-md text-center">
					<small class="d-block mb-1 text-muted">&copy; 2022 <a
							href="https://randychen.tk/">SuperSonic</a>.</small>
					<small class="d-block mb-1 text-muted">LICENSE: <a
							href="https://github.com/supersonictw/lob/blob/master/LICENSE">MIT
							License</a></small>
					<small class="d-block mb-1 text-muted">
						LOGO:
						<a href="https://www.iconfinder.com/icons/2993682/brand_brands_linux_logo_logos_icon">
							designed by Alpár-Etele Méder
						</a>
						licenced via
						<a href="https://creativecommons.org/licenses/by/3.0/">
							CC 3.0
						</a>
					</small>
				</div>
			</div>
		</footer>
	</div>
</body>

</html>